<article class="asset">
    <img src="{{ (base_path ~ asset.filename) | apply_filter('cypress_assets_gallery_asset') }}" alt="{{ asset.name }}" title="{{ asset.name }}" />
    <h2>{{ asset.name | trim_at_space }}</h2>
    <a href="{{ path('cypress_gallery_asset_delete', {'id': asset.id }) }}" class="action first delete">
        <img src="/bundles/assetsgallery/images/icon/delete.png" alt="delete asset" title="delete asset" />
    </a>
    <a href="{{ path('cypress_gallery_asset_manage', {'id': asset.id }) }}" class="action second">
        <img src="/bundles/assetsgallery/images/icon/edit.png" alt="edit asset" title="edit asset" />
    </a>
</article>