<article class="asset">
    <img src="{{ (base_path ~ asset.filename) | apply_filter('small') }}" alt="{{ asset.name }}" title="{{ asset.name }}" />
    <h2>{{ asset.name }}</h2>
    <a href="{{ path('cypress_gallery_asset_delete', {'id': asset.id }) }}" class="action delete">delete</a>
</article>