<article class="asset">
    {% include 'AssetsGalleryBundle:Slices:asset_preview.html.twig' %}
    <h2>{{ asset.name | trim_at_space }}</h2>
    <a href="{{ path('cypress_gallery_asset_delete', {'id': asset.id }) }}" class="action delete">
        <img src="{{ asset('bundles/assetsgallery/images/icon/delete.png') }}" />
    </a>
    <a href="{{ path('cypress_gallery_asset_manage', {'id': asset.id }) }}" class="action edit">
        <img src="{{ asset('bundles/assetsgallery/images/icon/edit.png') }}" />   
    </a>
</article>