<article class="folder{% if num is divisibleby(6) %}{{ ' last' }}{% endif %}" id="{{ folder.id }}">
    <a href="{{ path("cypress_gallery_list", { "folder_id": folder.id }) }}">
        {% if folder.empty %}
            <img src="/bundles/assetsgallery/images/folder-empty.png" alt="{{ folder }}" title="{{ folder }}" />
        {% else %}
            <img src="/bundles/assetsgallery/images/folder.png" alt="{{ folder }}" title="{{ folder }}" />
        {% endif %}
    </a>
    <h2>{{ folder | trim_at_space }} ({{ folder.children.count }})</h2>
    <a href="{{ path('cypress_gallery_folder_delete', {'id': folder.id }) }}" class="action delete">
        <img src="/bundles/assetsgallery/images/icon/delete.png" alt="delete folder" title="delete folder" />
    </a>
    <a href="{{ path('cypress_gallery_folder_manage', {'id': folder.id }) }}" class="action edit">
        <img src="/bundles/assetsgallery/images/icon/edit.png" alt="edit folder" title="edit folder" />
    </a>
    <a href="javascript:void(0)" class="action drag">
        <img src="/bundles/assetsgallery/images/icon/drag.png" alt="drag folder" title="drag folder" />
    </a>
</article>