<ul class="breadcrumb">
    {% for the_folder in breadcrumb %}
        {% if the_folder.lft == 1 %}
            <li class="home">
                <a href="{{ path("cypress_gallery_list") }}">HOME</a>
            </li>
        {% else %}
            {% if folder.id == the_folder.id %}
                {% if new or context == 'asset' %}
                    <li><a href="{{ path("cypress_gallery_list", { "folder_id": the_folder.id }) }}">{{ the_folder }}</a></li>
                {% else %}
                    <li><span>{{ the_folder }}</span></li>
                {% endif %}
            {% else %}
                <li><a href="{{ path("cypress_gallery_list", { "folder_id": the_folder.id }) }}">{{ the_folder }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if context == 'asset' %}
        {% if asset is defined %}
            <li><span>{{ asset }}</span></li>
        {% else %}
            <li><span>Add asset</span></li>
        {% endif %}
    {% endif %}
    {% if context == 'folder' %}
        {% if new %}
            <li><span>Add folder</span></li>
        {% endif %}
    {% endif %}
</ul>