{% form_theme form 'CmsBundle:Form:fields.html.twig' %}
{% extends 'CmsBundle::backend.html.twig' %}

{% block body %}
<section id="main">
  <h2>{% trans %}Pages{% endtrans %}</h2>
  <section class="content">
    <section class="main-actions">
      <ul>
        <li><a href="{{ path('be_page_list') }}" class="icon icon-back">Torna alla lista</a></li>
      </ul>
    </section>
    {% if app.session.hasFlash('notice') %}
      <section class="message ok">
        {{ app.session.flash('notice') }}
      </section>
    {% endif %}
    <section class="form">
      <form class="bp" action="" method="post" {{ form_enctype(form) }}>
        <table>
          <thead>
            <tr>
              <th colspan="2"><h2>Nuova pagina</h2></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">{{ form_errors(form) }}</td>
            </tr>
            {{ form_row(form.name) }}
            {{ form_row(form.url) }}
            <tr>
              <td colspan="2"><input type="submit" value="submit" /></td>
            </tr>
          </tbody>
        </table>
        {{ form_rest(form) }}
      </form>
    </section>
    
  </section>
  <aside>column</aside>
</section>
{% endblock %}