{% extends "AssetsGalleryBundle:Gallery:form.html.twig" %}

{% form_theme form 'AssetsGalleryBundle:Forms:themes.html.twig' %}

{% block js_code %}
{% spaceless %}
<script>
    var folder_widget_id = '{{ form.parent.vars.id }}';
</script>
{% endspaceless %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts "@AssetsGalleryBundle/Resources/javascripts/asset_form.js" filter="?yui_js" output="js/list.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
<section class="assets-gallery-form">
    <form action="" class="bp" method="post" {{ form_enctype(form) }}>
        <fieldset>
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            <section class="form-field">
                {{ form_label(form.parent) }}
                <section class="field">
                    {{ form_widget(form.parent) }}{% include 'AssetsGalleryBundle:Forms:folder_chooser.html.twig' %}
                </section>
                {{ form_errors(form.parent) }}
            </section>
            {{ form_rest(form) }}
            <section class="submit">
                <input type="submit" value="submit" />
            </section>
        </fieldset>
    </form>
</section>
{% endblock %}