{% extends "AssetsGalleryBundle::base.html.twig" %}

{% block title %}Manage {{ context }} :: {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/assetsgallery/css/fancybox/jquery.fancybox-1.3.4.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
    <h1>Manage {{ context }}</h1>
    {% include 'AssetsGalleryBundle:Slices:form_breadcrumb.html.twig' %}
{% endblock %}

