{% extends 'AssetsGalleryBundle::base.html.twig' %}

{% block title %}List :: {{ parent() }}{% endblock %}

{% block js_code %}
<script>
    var urlCallSort = "{{ path('cypress_gallery_sort_folders') }}";
    var parentId = {{ folder.id }};
</script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts "@AssetsGalleryBundle/Resources/javascripts/list.js" filter="?yui_js" output="js/list.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block header %}
    <h1>
        <a href="{{ path('cypress_gallery_list') }}">
            {% trans %}Assets Gallery{% endtrans %}
        </a>
    </h1>
    <span class="hide" id="ajax-loader"><img src="/bundles/assetsgallery/images/ajax-loader.gif" /></span>
    {% include 'AssetsGalleryBundle:Slices:breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
    <section class="assets-list sortable">
        {% include 'AssetsGalleryBundle:Slices:inlist_actions.html.twig' %}
        {% for folder in folder.children %}
            {% include 'AssetsGalleryBundle:Slices:folder.html.twig' %}
        {% endfor %}
        {% for asset in folder.asset %}
            {% include 'AssetsGalleryBundle:Slices:asset.html.twig' %}
        {% endfor %}
        {% if folder.children.count == 0 and folder.asset.count == 0 %}
            <p class="empty">No folder or assets here! Use the buttons on the left to add something</p>
        {% endif %}
    </section>
{% endblock %}

