{% extends "AssetsGalleryBundle::base.html.twig" %}

{% block content %}
    <ul class="actions">
        <li><a class="icon icon-add" href="{{ path('cypress_gallery_add') }}">Inserisci un nuovo asset</a></li>
    </ul>
    
    
    <section class="assets-list">
        {% for asset in assets %}
        <article class="asset">
            <img src="{{ asset.filename | apply_filter('small') }}" alt="{{ asset.name }}" title="{{ asset.name }}" />
            <h2>{{ asset.name }}</h2>
            <a href="{{ path('cypress_gallery_delete', {'id': asset.id }) }}" class="delete">delete</a>
        </article>
        {% endfor %}
    </section>
{% endblock %}
