{% extends 'AssetsGalleryBundle::base.html.twig' %}

{% block js_code %}
<script>
    var urlCallSort = "{{ path('cypress_gallery_sort_folders') }}";
    var parentId = {{ folder.id }};
</script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts "@AssetsGalleryBundle/Resources/javascripts/list.js" filter="?yui_js" output="js/list.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block header %}
    <h1>
        <a href="{{ path('cypress_gallery_list') }}">
            {% trans %}Assets Gallery{% endtrans %}
        </a>
    </h1>
    {#<ul class="actions">
        <li>
            <a class="icon icon-add" href="{{ path('cypress_gallery_asset_manage') }}">
                {% trans %}Add a new asset{% endtrans %}
            </a>
        </li>
        <li>
            <a class="icon icon-add" href="{{ path('cypress_gallery_folder_manage') }}">
                {% trans %}Add a new folder{% endtrans %}
            </a>
        </li>
    </ul>#}
    <span class="hide" id="ajax-loader"><img src="/bundles/assetsgallery/images/ajax-loader.gif" /></span>
    {% include 'AssetsGalleryBundle:Slices:breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
    <section class="assets-list sortable">
        {% include 'AssetsGalleryBundle:Slices:inlist_actions.html.twig' %}
        {% for folder in folder.children %}
            {% include 'AssetsGalleryBundle:Slices:folder.html.twig' %}
        {% endfor %}
        {% for asset in folder.asset %}
            {% include 'AssetsGalleryBundle:Slices:asset.html.twig' %}
        {% endfor %}
    </section>
{% endblock %}

